<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ejb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="Mapping/Compostage.hbm.xml"/>
    <mapping resource="Mapping/Enseignant.hbm.xml"/>
    <mapping resource="Mapping/Note.hbm.xml"/>
    <mapping resource="Mapping/Session.hbm.xml"/>
    <mapping resource="Mapping/Etudiant.hbm.xml"/>
    <mapping resource="Mapping/Niveau.hbm.xml"/>
    <mapping resource="Mapping/Administration.hbm.xml"/>
    <mapping resource="Mapping/Groupe.hbm.xml"/>
    <mapping resource="Mapping/Matiere.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
